.Div{
    padding: 0;
    margin: 0;
}

.Ul{
    display: flex;
    flex-direction: row;
    background: #000;
list-style-type: none;
width: 100%;
    justify-content: flex-start;

}
.Dot{
    color: white;
    margin-bottom: 1em;
    justify-content: flex-start;
}
.Links{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-bottom: 1em;
    padding: 0 14px;
}
.LI{
 margin-top: 2em;
    margin-left: 1em;
}
.Links:hover{
    color:red
}
.Center{
    display: flex;
    justify-content: center;
}
.LIOne{
display: inline-block;
    margin-left: 15em;
    margin-top: 2em;

}
.LinksOne{
    color: #000;
    text-decoration: none;



}
.LinksOne:hover{
    color: red;
}
.Img{

    width: 100px;
    height: 100px;
}
.DivMaten{
    display: inline-block;
}
.Footer{
    background-color: #000;
    padding: 0;
    margin:0;
    list-style: none;

}
.FooterLink{
display: inline-block;

}
@media (max-width: 700px) {
    .Links{
        font-size: .7em;
        padding: 0;
        display: inline-block;
    }
    .LIOne{
        display: flex;
        justify-content: flex-start;
    }
}