.Div{
    padding: 0;
    margin: 0;
}
.Zarb{
    display: none;
}
.Ul{
    display: flex;
    flex-direction: row;
    background: #000;
list-style-type: none;
width: 100%;
    justify-content: flex-start;
}
.Dot{
    color: white;
    margin-bottom: 1em;
    justify-content: flex-start;
}
.Links{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-bottom: 1em;
    padding: 0 14px;
}
.LI{
 margin-top: 2em;
    margin-left: 1em;
}
.Links:hover{
    color:red
}
.Center{
    display: flex;
    justify-content: center;
}
.LIOne{
display: inline-block;
    margin-left: 15em;
    margin-top: 2em;
}
.LinksOne{
    color: #000;
    text-decoration: none;



}
.LinksOne:hover{
    color: red;
}
.Img{

    width: 150px;
    height: 150px;


}
.FooterStyle{
    color: white;
    display: flex;
    justify-content: center;
}
.Fragment{
    overflow-y: hidden;
}
.DivMaten{
 display: flex;
margin-top: 2em;
    flex-direction: row;
}
.GridOne{
    padding: 0 4em;

}
.ImgOne{
  padding-left:  2em;
}
.Grid{
    font-size: 1.3em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1em,1fr));
}
.Footer{
    background-color: #000;
    padding: 0;
    margin:0;
    list-style: none;

}
.FooterLink{
display: flex;
    justify-content: center;
    flex-direction: row;


}
.StyleLink{
    color: green;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 1em;
}
.CopyRight{
    background-color: purple;
    display: flex;
    justify-content: center;
}
.CopyRightStyle{
    color:white;
    font-size: 1.3em;
}
.Menu{
    display: none;
}
@media (max-width: 700px) {
    .Links{
float: left;

    }
    .Dot{
       display: none;
    }
    .Ul{
        display: flex;
        flex-direction: column;
        background-color: rgb(36,41,44);
        height: 100%;
        z-index: 7;
        padding-top: 3em;


    }
    .LIOne{
        display: flex;
        justify-content: flex-start;
    }
    .DivMaten{
        display: flex;
        flex-direction: column;

    }
    .Menu{
        display: block;
        color: white;
        margin-left: -20px;
        width: 25px;
        height: 25px;
        margin-top: 30px;
        cursor: pointer;
    }
    .Dot{
        margin-left: 20px;
    }
    .Zarb{
        display: block;
        width: 20px;
        height: 20px;
    }
}